.choosePhoto {
    width: 380px;
    height: 400px;
    border: 1px solid blue;
    color: blue;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
}


.wrapper {
    margin: 0 auto;
    width: 90%;
}


.img{
    width: 380px;
    height: 400px;
}

.list {
    margin: 0 auto;
    max-width: 90%;
    min-height: 60px;
    display: block;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

  }
  
  .box {
    padding: 20px 10px;
    color: rgba(0, 0, 0, 0.87);
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
  }
  

